BRIDGE_HOST=100.64.0.2
BRIDGE_PORT=8787
BRIDGE_API_KEY=replace-with-a-long-random-secret
BRIDGE_LOG_FILE=logs/bridge.log

FIREBIRD_CLIENT_LIBRARY=C:\Program Files (x86)\Firebird\Firebird_2_5\bin\fbclient.dll
FIREBIRD_HOST=127.0.0.1
FIREBIRD_PORT=3050
FIREBIRD_DATABASE=REPLACE_WITH_ALIAS_OR_DATABASE_PATH
FIREBIRD_USER=VALERY_POC
FIREBIRD_PASSWORD=replace-locally
FIREBIRD_CHARSET=WIN1252

